</div>
    <footer>
	@2014
    </footer>
    </body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>